/* Until I see how Three.js handles css this is temporary. It might NOT be depending on what they provide. */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: relative;
}