$primary-text-color: #fff;
$secondary-text-color: #8e8e8e;
$primary-background: #343a40;
$secondary-background: #131515;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-background;
}

.no-bullets {
    list-style: none;
}

.box {
    background-color: $secondary-background;
    width: 500px;
    height: 500px;
}

.box p{
    color: $secondary-text-color;
}



