/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./assets/styles/styles.css ***!
  \****************************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-bullets {
    list-style: none;
}



