/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./assets/styles/styles.css ***!
  \****************************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: relative;
}
